{% extends "base.html" %}

{% block body %}
    <div class="row">
        <div class="col-md-7">
            <h2 class="postingtitle"><small>&#9734;</small> {{ object.title }} <span> -  {{ object.price }}</span></h2>
            <br>
            <img src="{{ object.photo_url }}" alt="" />
            <br>
            <br>
        </div>
    <p>{{ object.description }}</p>
    <br>
    <p> Contact: Portland Bureau of Development Services</p>
    <br>
    <div>
        <p class="postinfo">post id: {{ object.id }}</p> <p class="postinfo">posted: <span class="timel">{{ object.created }}</span></p>
    </div>
    {% if object.user == request.user %}
        <a href="{% url 'listing_update_view' object.id %}">Update Your Listing</a>
        <br>
        <a href="{% url 'listing_delete_view' object.pk %}">Delete</a>
    {% endif %}
{% endblock %}
