{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>DenCity</title>
  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <!-- bootstrap javascript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <!-- mapbox-gl-js & geocoder -->
  <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.50.0/mapbox-gl.js'></script>
  <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.50.0/mapbox-gl.css' rel='stylesheet' />
  <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v2.3.0/mapbox-gl-geocoder.min.js'></script>
  <link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v2.3.0/mapbox-gl-geocoder.css' type='text/css' />

<!-- Map Style
  <style>
  body { margin:0; padding:0; }
  #map { position:absolute; top:0; bottom:0; width:50%; }
  #geocoder-container > div {
    min-width:50%;
    margin-left:25%;
  }
  </style>
  <style>
    .mapboxgl-popup {
      max-width: 400px;
      font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    }
  </style>
-->

  <!-- Favicon -->
  <link rel="shortcut icon" href="{% static 'll_app/img/favi.ico' %}">

  <link rel="stylesheet" href="{% static 'll_app/css/main.css' %}">
</head>

<body>
  <div class="container-fluid">
    <nav class="navbar navbar-default navbar-static-top">
      <a class="navbar-brand" href="#">
        <img src="{% static 'll_app/img/icon-garbage-small.png' %}" width="30" height="30" class="d-inline-block align-top">
      </a>
      <!-- Brand and toggle get grouped for better mobile display -->
      <ul class="nav navbar-nav">
        {% if request.user.is_authenticated %}
        <li> <a href="#">Welcome {{ request.user }}</a></li>

        <li> <a href="{% url 'logout' %}?next={% url 'index_view' %}">Log Out</a></li>
        {% else %}
        <li><a href="{% url 'register_view' %}">Get an account</a></li>
        <li><a href="{% url 'login' %}">Login</a></li>
        {% endif %}

        <li class="active"><a href="{% url 'index_view' %}">Home<span class="sr-only">(current)</span></a></li>
        <li><a href="{% url 'adulisting_view' %}">ADU Listings</a></li>
        <li><a href="/category/1">DTC Listings</a></li>
        <ul class="nav navbar-nav navbar-right">

          <li><a href="/#about">About</a></li>
        </ul>
      </ul>
    </nav>
  </div>

  <div class="container">
    {% block hero %}
    {% endblock %}
  </div>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-9 mx-auto">
        {% block body %}
        {% endblock %}
      </div>
    </div>
  </div>

  <div class="container">
    <nav class="navbar navbar-bottom justify-content-center">
      <!-- <div class="navbar-header"> -->
      <div class="mx-auto order-0">
        <p class="navbar-brand mx-auto"> Created for Hack-For-A-Cause PDX 2018 </p>
      </div>
    </nav>
  </div>
</body>

</html>

<!-- <li class="dropdown">
  <a href="#" class="drospdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
  <ul class="dropdown-menu">
    <li><a href="#">Action</a></li>
    <li><a href="#">Another action</a></li>
    <li><a href="#">Something else here</a></li>
    <li role="separator" class="divider"></li>
    <li><a href="#">Separated link</a></li>
    <li role="separator" class="divider"></li>
    <li><a href="#">One more separated link</a></li>
  </ul>
</li> -->
