{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>DenCity</title>
  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <!-- bootstrap javascript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <!-- Favicon -->
  <link rel="shortcut icon" href="{% static 'll_app/img/favi.ico' %}">

</head>

<body>
  <nav class="navbar navbar-default narbar-static-top">
    <div class="container-fluid">
      <a class="navbar-brand" <img href="{% static 'll_app/img/icon-garbage-small.png'%}"> </a>
      <!-- <img alt="DTC" src="/static/img/dtc-small.png"> -->
      </a>
      <!-- Brand and toggle get grouped for better mobile display -->
      <ul class="nav navbar-nav">
        {% if request.user.is_authenticated %}
        <li> <a href="#">Welcome {{ request.user }}</a></li>

        <li> <a href="{% url 'logout' %}?next={% url 'index_view' %}">Log Out</a></li>
        {% else %}
        <li><a href="{% url 'register_view' %}">Get an account</a></li>
        <li><a href="{% url 'login' %}">Login</a></li>
        {% endif %}

        <li class="active"><a href="{% url 'index_view' %}">Home<span class="sr-only">(current)</span></a></li>
        <li><a href="{% url 'adulisting_view' %}">ADU Listings</a></li>
        <li><a href="/category/1">DTC Listings</a></li>
        <ul class="nav navbar-nav navbar-right">

          <li><a href="{% url 'about_view' %}">About</a></li>
        </ul>
      </ul>
    </div>
  </nav>


  {% block hero %}
  {% endblock %}

  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        {% block body %}
        body content
        {% endblock %}
      </div>
    </div>
  </div>

  <nav class="navbar navbar-bottom justify-content-center">
    <!-- <div class="navbar-header"> -->
    <div class="mx-auto order-0">
      <p class="navbar-brand mx-auto"> Created for Hack-for-a-cause PDX 2018 </p>
    </div>
  </nav>
</body>

</html>

<!-- <li class="dropdown">
  <a href="#" class="drospdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
  <ul class="dropdown-menu">
    <li><a href="#">Action</a></li>
    <li><a href="#">Another action</a></li>
    <li><a href="#">Something else here</a></li>
    <li role="separator" class="divider"></li>
    <li><a href="#">Separated link</a></li>
    <li role="separator" class="divider"></li>
    <li><a href="#">One more separated link</a></li>
  </ul>
</li> -->
